### Dependencies

In [1]:
# need to install 
# pip install sqlalchemy
# pip install psycopg2

import pandas as pd
import matplotlib.pyplot as plt
from config import username, password

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/films_db')
connection = engine.connect()

### Import the actor table

In [2]:
actors = pd.read_sql('select * from actor', connection)

In [3]:
actors.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 09:34:33
1         2       NICK      WAHLBERG 2006-02-15 09:34:33
2         3         ED         CHASE 2006-02-15 09:34:33
3         4   JENNIFER         DAVIS 2006-02-15 09:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 09:34:33